
.app-container {
  background-color: #0c2869;
  min-height: 100vh;
  overflow-x: hidden;
}

.sticky-wrapper {
  position: sticky;
  top: 60px; /* Ajusta según tu Header */
  z-index: 100;
  background-color: #0c2869;
}
