.cuenta-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  padding: 40px;
  background-color: #fff;
  min-height: 100vh;
}

.cuenta-left {
  background-color: #07266f;
  color: white;
  padding: 30px;
  border-radius: 16px;
  font-size: 16px;
  height: fit-content;
  align-self: center; /* <- centra verticalmente */
}

.cuenta-left h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cuenta-right {
  padding: 20px;
  color:#0c2869;
}

.cuenta-right h2 {
  padding: 40px;
  font-size: 40px;
  color:#0c2869;
}

.cuenta-right h4 {
  font-size: 200px;
  margin-bottom: 20px;
}

.planes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.plan-box {
  background-color: white;
  border: 6px solid #07266f;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.plan-box:hover {
  background-color: #ff1e1a;
  color: white;
  border-color: #ff1e1a;
}

.plan-box h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.duration {
  font-size: 14px;
  color: gray;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #07266f;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
}

.modal-content button {
  margin-top: 20px;
  background-color: #07266f;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}
