.footer{
    width: 100%;
    background-color: #ff1e1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: 'AntartidaRounded-Bold', sans-serif;
    font-weight: bold;
}

.logos{
    width: auto;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.logos:hover {
  transform: scale(1.1);
}

.linkStyle{
    color:#fff;
    font-size: 20px;
}
